body {

}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #E8E8E8
}

.header-left {
  display: flex;
  flex-direction: column;
}

.header-right {
  display: flex;
  flex-direction:row;
}

.hidden {
  display: none;
}

#date-selection {
  font-size: 20px;
}
