* {
  font-family: Jazz LET, fantasy;
}

body {
background-image: url("/hotel-bw.png");
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #232b2b;
  margin: 0;
  width: 100%;

}

.header-left > h1, .header-left > p   {
  color: 	#e1e1e1
}

.header-left > p {
  font-size: 15px;
}

.room-search-display-buttons {
  display: flex;
  flex-direction: row;

}

input {
  background-color: #e1e1e1;
}

.header-right > h2, p, label {
  color: 	#e1e1e1
}

.my-bookings-area > h1, h2, h3, p {
  color: black;
}

button, .go-home-btn {
  cursor: pointer;
  background-color: white;
}

button:hover {
  background-color: lightgrey;
}

.my-bookings-area, .total-spent-area, .room-search-styling {
  background-color: white;
}

.room-search-styling > label {
  color: black;
}


.header-left {
  display: flex;
  flex-direction: column;
}

.header-right {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
}

.hidden {
  display: none;
}

#date-selection {
  font-size: 20px;
}

.my-bookings-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center
}

.total-spent-area, .search-styling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center

}

.room-search-styling {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.scroll {
  border: 2px solid black;
  margin: 4px, 4px;
  padding:4px;
  width: 500px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.scroll-availability {
  border: 2px solid black;
  margin: 4px, 4px;
  padding:4px;
  width: 500px;
  height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.past-bookings {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: baseline;
}

.future-bookings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
}

.login-area > input {
  background-color: #ffffff
}

.login-area {
  border: 2px solid black;
  padding: 10px;
  background-color: white;

}

.success-message-styling {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
